<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>인덱스 창입니다.</h1>

    {% if not current_user.is_authenticated %}
    <!-- 로그인 안 한 사람만 보이는 부분 -->
    <a href="{{ url_for('security.register') }}">
      <button>회원가입</button>
    </a>

    <a href="{{ url_for('security.login') }}">
      <button>로그인</button>
    </a>
    {% else %}
    <!-- 로그인 한 사람만 보이는 부분 -->
    <a href="{{ url_for('security.logout') }}">
      <button>로그아웃</button>
    </a>

    <a href="{{ url_for('auth.redirect_by_role') }}">
      <button>내페이지</button>
    </a>
    {% endif %}
  </body>
</html>
