<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.boxicons.com/3.0.5/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <!-- <h1><i class="bx bx-owl"></i> 관제 시스템</h1> -->
      <div class="cctv_btn">
        <button id="open_cctv_btn" onclick="openCCTVModal()">CCTV TEST</button>
      </div>
      <div class="search">
        <input type="search" placeholder="검색어를 입력하세요" />
        <button class="search-btn"><i class="bx bx-search"></i></button>
      </div>
    </header>
  </body>
</html>
